body {
    font-family: Roboto;
}
.winkelwagen {
    width: 3em;
    height: 3em;
    background-image: url("img/shopping-cart.png");
    background-size: contain;
    float: right;
    margin-right: 3em;
    position: relative;
    cursor: pointer;
}

.winkelwagen__aantal:not(:empty) {
    background-color: #f00;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: -.5em;
    right: -.9em;
    line-height: .5em;
    padding: .5em;
    border-radius: 50%;
}
.boekSelectie__cover {
    max-width: 100px;
}

.boekSelectie__rij--accent {
    background-color: #def;
}

.boekSelectie__data-cel {
    padding: 1em;
    vertical-align: top;
}

.boekSelectie__data-cel:nth-child(3) {
    padding: 0;
}


/* Layout */
.boekSelectie {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.boekSelectie:nth-child(even) {
    background-color: #eee;
    padding: .5em 0;
}

.boekSelectie__main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.boekSelectie__titel {
    margin: 0;
}

.boekSelectie__overig {
    margin: 0;
    font-size: .8em;
    color: #444;
}

.boekSelectie__prijs {
    font-size: 2em;
    padding: .5em;
}

.boekSelectie__knop {
    display: block;
    margin: 1.5em auto;
    background-color: #d00;
    cursor: pointer;
    color: #fff;
    padding: 1em;
    border-radius: 1em;
}
.boekSelectie__knop:hover {
    background-color: #900;
}
@media screen and (min-width: 40em) {
    .besteldBoek {
        max-width: 40em;
        margin: 0 auto;
    }
}
@media screen and (min-width: 50em) {
    #uitvoer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2em;
    }

    .boekSelectie:nth-child(even) {
        background-color: inherit;
    }
    .boekSelectie:nth-child(4n+2),
    .boekSelectie:nth-child(4n+3){
        background-color: #eee;
    }
}

/*BestelPagina*/
.besteldBoek {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 2em;
    margin-bottom: .5em;
}
.besteldBoek__cover {
    max-width: 50px;
}

.besteldBoek__titel {
    font-weight: normal;
    font-size: 1em;
}

.besteldBoek__verwijder {
    width: 2em;
    height: 2em;
    background-image: url("img/bin.png");
    background-size: cover;
    cursor: pointer;
    border-radius: .5em;
    background-color: transparent;
    transition: background-color 1s ease-out;
}

.besteldBoek__verwijder:hover {
    background-color: #f66;
}